/* #about */
.about p:last-child {
}

#about .about__column-left {
   display: flex;
   align-items: flex-start;
   height: 250px;
}

#about .about__column-right {
   display: flex;
   align-items: flex-end;
   height: 300px;
}

#about  p {
   text-indent: 25px;
}


/* #portfolio */
#portfolio  p {
   text-indent: 25px;
}

.portfolio a {
   font-size: 24px;
   color: black;
   text-decoration: none;
   transition: all 0.09s ease-out;
}

.portfolio a:hover {
   color: rgb(165, 160, 160);
}

/* #footer */
#footer {
   background-color: #b8b8b8;
}

.footer p {
   text-align:center;
   margin: 20px 0px;
   font-size: 17px;
}

.telegram, .hh {
   display:block;
   text-align:center;
   margin: 20px 0px;
   font-size: 24px;
   color: black;
   text-decoration: none;
   transition: all 0.09s ease-out;
}

.telegram:hover, .hh:hover {
   color: rgb(165, 160, 160);
}

.icon-telegram {
   font-size: 15px;  
}

.icon-head_hunter-_1 {
   font-size: 12px;  
}


@media (max-width: 991px) {
   .portfolio a {
      font-size: 20px;
   }

   .telegram, .hh {
      font-size: 18px;
   }

   .icon-telegram, .icon-head_hunter-_1 {
      display: none;
   }
}

@media (max-width: 527px) {
   #about .about__column-left {
      width: 100%;
      height: 100%;
   }
   
   #about .about__column-right {
      width: 100%;
      height: 100%;
      margin-top: 20px;
   }

   .portfolio a {
      font-size: 18px;
   }

   .telegram, .hh {
      font-size: 14px;
   }
}
